{% extends "base.html" %}
{% block "title" %}Straipsniai{% endblock %}

{% block "content" %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date|date:"Y-m-d, f" }}</small>
        </div>
        <h2><a class="article-title">{{ post.title }}</a></h2>

        {% if post.author == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' post.id %}">Redaguoti</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post_delete' post.id %}">Ištrinti</a>
        </div>
        {% endif %}
        <p class="article-content">{{ post.text | safe }}</p>
        <a>Komentarų: {{ post.num_comments }}</a>
        <hr>
        <h4>Komentarai:</h4>
        {% if user.is_authenticated %}
        <div class="fieldWrapper">
            <br/>
            <h4>Palikite komentarą:</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.body }}</br>
                <input type="submit" value="Išsaugoti">
            </form>
        </div>
        <hr>
        {% endif %}
        <div>
            {% for comment in post.comments.all %}
            <small class="text-muted">{{ comment.author }}, {{ comment.date|date:"Y-m-d, f" }}</small>
            <p>{{ comment.body }}</p>
            {% if comment.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment_update' post.id comment.id %}">Redaguoti</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment_delete' post.id comment.id %}">Ištrinti</a>
            </div>
            {% endif %}
            <hr>
            {% endfor %}
        </div>
    </div>
</article>
{% endblock %}